.sho{
  background-image: url(/public/jojo.png);
}
.shoi{
  background-image: url(/public/jojo.png);
    background-size: 20%;
}
.vvs{
  background-image: url(/public/jojo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
}
.vvv{
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.abt{
  background-image: url(https://seeklogo.com/images/U/UEFA_Champions_League-logo-DD9AE0500D-seeklogo.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}